.cell {
    padding: 3px;
    font-size: 10px;
    border-bottom: #808080 0.15pt solid;
}
.cell-header {
    font-weight: bold;
    padding: 5px;
    border-bottom: #808080 3px double;
    font-size: 10px;
    font-weight: bold;
}
.header-text {
    font-size: 11px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.row {
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.blank-row {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: #808080 1px solid;
}
.text {
    font-size: 10px;
}
.cell-footer {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    border-bottom: #808080 3px double;
    padding-top: 3px;
    padding-bottom: 3px;
}